/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
  
  @import "simple_calendar";   


  

  .simple-calendar {
    .day {}
  
    .wday-0 {
      background-color: #f8d7da
    }
    .wday-1 {}
    .wday-2 {}
    .wday-3 {}
    .wday-4 {}
    .wday-5 {}
    .wday-6 {
      background-color: #d1ecf1
    }
  
    .today {}
    
    .past a{
      background-color: lightslategray;
    }
    .future {}
  
    .start-date {}
  
    .prev-month a{
      display: none;
    }
    .next-month a{
      display: none;
    }
    .current-month {}
  
    .has-events {}
  }

  .calendar-heading{
    text-align: center;
  }

    .calendar-title{
      font-weight: bold;
      font-size: 32px;
    }